@import url("https://fonts.googleapis.com/css?family=Montserrat");

.market-landing-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:#38212E;
    width: 175px;
    height: 175px;
    border-radius: 150px;
    margin-top: -190px;
    margin-left: 30px;
    margin-bottom: 50px;
    border: 2px solid white;
}

.market-landing-icon img {
    width: 66%;
    height: 66%;
}

.market-card-right a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
  font-size: 16px;
  border-radius: 25px;
  font-family: "Montserrat";
  padding: 7px;
  margin: 5px;
  width: 45%;
  background-color: rgba(180, 45, 90, 0.911);
}
.market-card-right a:hover {
  background-color: white;
  color: rgba(180, 45, 90);
}

.market-landing-card-link:hover {
  background-color: #38212f;
  color: white;
}

.market-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Montserrat";
  font-size: 20px;
  width: 100%;
  border-radius: 10px;
  text-align: center;
}

.market-list-page-header {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../images/market4.jpg");
  background-position: center center;
  box-shadow: inset 0 0 0 2000px rgba(105, 7, 40, 0.3);
  background-size: cover;
  min-height: 250px;
  width: 100%;
  color: white;
  font-size: 30px;
  margin-bottom: 50px;
  text-shadow: 2px 2px #000000;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.market-landing-page-wrapper {
  background-color: #e9ebee;
  padding-bottom: 50px;
  padding-right: 20%;
  padding-left: 20%;
}

.market-left {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  font-family: "Montserrat";
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 28%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  /* background-image: url('../../images/defaultStall.jpg'); */
  background-color: white;
  max-height: 220px;
  overflow: hidden;
}
.market-left img {
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}
.market-card-right {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  font-family: "Montserrat";
  font-size: 20px;
  margin: 10px;
  width: 68%;
  border-radius: 10px;
  text-align: center;
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.5);
}

.market-card-right h2 {
  width: 100%;
  margin: 0px;
}
.market-card-right h3 {
  width: 100%;
  margin: 0px;
}
.market-card-right h4 {
  width: 50%;
}

.market-card-wrapped {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 10px;
}

.market-card {
  background: none;
}

@media (max-width: 1300px) {
  .market-landing-page-wrapper {
    padding: 0%;
  }
}

@media (max-width: 800px) {
  .market-left {
    width: 50%;
    margin-top: 20px;
  }

  .market-card-right {
    width: 100%;
  }

  .market-left img {
    width: 200px;
    height: 200px;
    border-radius: 150px;
  }
  .market-card-right h4 {
    width: 100%;
    margin: 5px !important;
  }
  .market-card-right a {
    width: 80%;
    margin-top: 25px;
  }
  .market-card-wrapped {
    padding: 20px;
    margin: 20px;
    border-radius: 10px;
  }

  .market-landing-icon {
    display: flex;
    justify-content: center;
    width: 60%;
    height: 100%;
    margin: 0px;
    padding: 5px;
    margin-top: -100px;
    
    margin-left: 20%;
    margin-right: 20%;
  }
  
  .market-landing-icon img {
      height: 90px;
      width: 90px;
      
  }
}
