.nav-wrapper {
    /* border: 1px solid red; */
    @media only screen and (max-width: 600px) {
        border: 2px solid orange;
    }
}

@keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

@media only screen and (max-width: 660px) {
   .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    background-color: #38212E;
    border: 1px solid orange;
    animation:  slideInDown .3s ease-in-out forwards;
    
    }
  
}
/* .nav-bar {
 
    
   
} */

.checking {
    color: #38212e75;
}