.nav-wrapper {
    /* border: 1px solid red; */
    @media only screen and (max-width: 600px) {
        border: 2px solid orange;
    }
}

@keyframes slideInDown {
    from {
      -webkit-transform: translate3d(0, -100%, 0);
      transform: translate3d(0, -100%, 0);
      visibility: visible;
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

@media only screen and (max-width: 660px) {
   .nav-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 250px;
    background-color: #38212E;
    border: 1px solid orange;
    animation:  slideInDown .3s ease-in-out forwards;
    
    }
  
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible;
  }

  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.close {
  display: none;
}
.mobile-nav {
  animation:  slideInUp .3s ease-in-out forwards;
  color: white;
  display: flex;
  position: absolute;
  top: 85px;
  width: 100%;
  flex-direction: column;
  margin: 0;
  /* margin-top: 10rem; */
  border: 1px solid silver;
  /* border: 1px solid salmon; */
}
/* @media only screen and (max-width: 660px) {
  .mobile-nav {
     animation:  slideInUp .3s ease-in-out forwards;
    color: white;
    display: flex;
    flex-direction: column;
    margin-top: 10rem;
    border: 1px solid silver; 
}
} */

.checking {
    color: #38212e75;
}